* {
box-sizing: border-box;
}

body {
  background-color: #323236;
}

$time_showing: 30000;
$time_moving: 1500;
$percent_moving:  percentage($time_moving/($time_showing+$time_moving));

@mixin animation-delay($delay: $time_showing) {
    $t: 0;
    $i: -$delay;
    @while $i <= $delay/2 {
      &:nth-child(#{$t}) {
        animation-delay: $i+ms;
      }
      $t: $t + 1;
      $i: $i + $delay/4;
    }
  }


.container {
  width: 100%;
  position: relative;
  perspective: 3000px;
  padding: 100px;
  left: 22.5%;
}

#carousel {
  position: relative;

}

#carousel figure {
  display: block;
  animation: rotate $time_showing+ms ease-in-out infinite;
  @include animation-delay;
  position: absolute;
  background-color: white;
  padding: 12em;
  text-align: center;
  min-width: 66%;
      -webkit-box-reflect: below 30px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
}
  
@keyframes rotate {
  0%, 20%, #{95%+$percent_moving}, 100% {
    transform: rotateY(45deg) scale(.6);
    right: 0; 
    box-shadow: 0 0 10px rgba(black,.5);  
    z-index: -1;
    -webkit-filter: opacity(100%) blur(3px);
  }
 
  #{20%+$percent_moving}, 45% {
    transform: rotateY(0deg) scale(1);
    right: 40%; 
    box-shadow: 0 0 20px rgba(black,1);
    z-index: 100;
    -webkit-filter: opacity(100%) blur(0px);
  }
  
  #{45%+$percent_moving},70% {
    transform: rotateY(-45deg) scale(.6);
    right: 81%; 
    box-shadow: 0 0 10px rgba(black,.5);
    z-index: -1;
    -webkit-filter: opacity(100%) blur(3px);
  }
  
  #{70%+$percent_moving}, 95% {
    transform: rotateY(-90deg) scale(0);
    right: 0%; 
    box-shadow: 0 0 10px rgba(black,0);
    z-index: 0;
    -webkit-filter: opacity(0%) blur(0px);
  }
}