<div class="modal-header" >   
<a class="close" data- dismiss="modal" ng-click="cancel()">X</a><h1>Add Proxy</h1></div><div class="modal-body">   
 <form >

     <label>ProxyValue</label>
     <select ng-model="selectedProxy" ng-options="proxy for proxy in proxies" ng-change="selectProxy()">
</select>
     <br>
    <button type="submit" class="btn" ng-click="addProxy(selectedProxy)">AddProxy</button>
    <button type="reset" class="btn ">Clear</button>
    </form>
    </div>
    <div class="modal-footer">
    <a data-dismiss="modal" aria-hidden="true" class="btn" ng-click="cancel()">close</a>
    </div>