<div class="modal-header" >   
<a class="close" data- dismiss="modal" ng-click="cancel()">X</a><h1>Add Proxy</h1></div><div class="modal-body">   
 <form >

     <label>Products</label>
     <select ng-model="selectedProduct" ng-options="product for product in products" ng-change="selectProxy()">
     </select>
     <br>
    <button type="submit" class="btn" ng-click="addProduct(selectedProduct)">AddProduct</button>
    <button type="reset" class="btn ">Clear</button>
    <br>
    <br>
    <!-- <table>
    <th>ProductName</th>
    <th>SelectProduct</th>
    <tr ng-repeat=" productDel in productsDel">
    <td>{{productDel}}</td>
    <td><input type = "checkBox"></td>
    </table> -->
    </form>
    </div>
    <div class="modal-footer">
    <a data-dismiss="modal" aria-hidden="true" class="btn" ng-click="cancel()">close</a>
    </div>