
<div class="modal-header" >   
<a class="close" data- dismiss="modal" ng-click="cancel()">X</a><h1>Add Path</h1></div><div class="modal-body">   
 <form >

     <label>PathValue:</label><input type="text" class="span3" ng-model="Path"></br>
    <button type="submit" class="btn" ng-click="addPathValue(Path)">AddPath</button>
    <button type="reset" class="btn ">Clear</button>
    </form>
    </div>
    <div class="modal-footer">
    <a data-dismiss="modal" aria-hidden="true" class="btn" ng-click="cancel()">close</a>
    </div>