
<html>
	<head>
		<title>APIGEE Annex</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../css/deployProxy.css" />
		<link rel="stylesheet" href="../css/pageLoader.css" />
		<!-- <link rel="stylesheet" href="../css/deployProxyTest.css" /> -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
		<script src ="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
		<script src ="../js/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src ="../js/ProxyDeployment.js"></script>
  		
  		
 	<script src="../js/navigation.js"></script>
	</head>
	<body>

<div id="loader"></div>
	
<div style="display:none;" id="myDivPage" class="animate-bottom">

  
    <!-- Header -->
		<header id="header"> 
			<div class="inner" >
				
				<nav id="nav">
          <myHeader><a href = "home.html">Home</a> > <a href = "proxy.html">Proxies</a> > <a href = "deploy.html">Deploy</a></myHeader>
				</nav>
				<!--<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>-->
			</div>
		</header>

	<!-- Banner -->
		<section id ="navbar">
		
			<!-- <div class ="sidenav">-->	
			
					<div class="inner1">
							<a href="https://www.teksystems.com/" target="_blank"><img src="../images/TekLogo.png" style = "height:36px; width: 36px;"></a>
							<!--<a href="home.html" style="text-decoration: none"><span  class="fa fa-home" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Home</span></a>-->
					</div>
					<div class="inner2">
							<a href="home.html" style="text-decoration: none"><span  class="fa fa-home" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848"></span></a>
							<!--<a class="search-disabled" href="#" style="text-decoration: none"><span class="fa fa-search" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Search</span></a>-->
					</div>
					<div class="inner3">
							<!--<a class="sort-disabled" href="#" style="text-decoration: none"><span class="fa fa-sort" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Sort</span></a>-->
					</div>
					<div class="inner4">
							<!--<a class="filter-disabled" href="#" style="text-decoration: none"><span class="fa fa-filter" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Filter</span></a>-->
					</div>
					<div class="inner5">
							<a href="helpHome.html" style="text-decoration: none"><span class="fa fa-question-circle-o" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Help</span></a>
					</div>
					<div class="inner6">
							<a href="profile.html" style="text-decoration: none"><span class="fa fa-user-circle" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Profile</span></a>				
					</div>
			<!-- </div> -->
</section>

 <section id="mainBlock">
	
		<!-- <section class="shade">
    	</section>-->
	
<div ng-app="ProxiAPIApp">		
<div class="banner1" ng-controller="ProxiAPIController">
	 <form>
	<table id="proxyData">
	
 	<thead>
 	<tr>
    <th>API Proxy Name:</th>
    <td>{{selectedProxyToDeploy.name}}</td>
    
    <th>Environment:</th>
    <td><div class="dropdown"><select name="selectedEnv" id="selectedEnv" requried ng-change="envFunction()" ng-model="envValue" required>
		<option value="" selected>Select</option>
  		<option value={{env}} ng-repeat ="env in  envList">{{env}}</option>
		</select>
		</div>
	</td>
    </tr>
    
  	<tr>
    <th>API Proxy Base Path:</th>
    <td>{{proxyRevDetails[0].basepaths[0]}}</td>   
    <th>Revisions:</th>
    <td><div class="dropdown">
    <select name="selectRevision" id="selectRevision" requried ng-change="revFunction()" ng-model="revValue" required>
		<option value="" selected>Select</option>
  		<option value={{rev}} ng-repeat ="rev in selectedProxyToDeploy.revision">{{rev}}</option>
	</select>
  </div>
	</td>
  	</tr>
  	<tr>
    <th>Created:</th>
    <td>{{selectedProxyToDeploy.metaData.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
    
 	 </tr>
  	<tr>
    <th>Modified:</th>
    <td>{{selectedProxyToDeploy.metaData.lastModifiedAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
  	</tr>
 	 <tr>
    <th>Modified By:</th>
    <td>{{selectedProxyToDeploy.metaData.lastModifiedBy}}</td>
    <th>
    <td><button class="detailsPaneFilledButton" ng-disabled="!revValue || revValue.length == 0 || !envValue || envValue.length == 0" data-toggle="modal" ng-click="deployProxy(selectedProxyToDeploy.name,RevToDeploy,EnvToDeploy,'vkontham@teksystems.com','SINT-9483')" data-target="#myModal"><span>Deploy</span></button></td>
    <div class="modal fade" id="myModal" role="dialog" ng-show="show=='depResponse'">
    <div class="modal-dialog" style="margin-top:15%; margin-left: 25%;">
      <div class="modal-content">
        <div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h4 class="modal-title">Result</h4>
        </div>
        <div class="modal-body">
          <p>{{msg}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reload()">Close</button>
        </div>
      </div>   
    </div>
  </div>
    </th>
  	</tr>
	</table>
 		
 		
 <div class="banner2">
 
 
 <div id="leftLowerHalf">
 <mySubHeader>Deployed Revisions</mySubHeader>	
 	
 	<table id="deplRev">
  	<thead>
  	<tr>
    <th>Environment</th>
    <th>Revision</th>
    <!--<th>Modified</th>
    <th>Modified By</th>-->
    <th><span class="fa fa-refresh" style="font-size:12pt;color: black" id = 'refreshButton'></span></th>
  	</tr>
  	</thead>
  	<tbody>
 	<tr ng-repeat ="depRev in  proxydeploymentDetails.environment">
    <td>{{depRev.name}}</td>
		<td>{{depRev.revision[0].name}}</td>
		<td></td>
    <!--<td>2018-08-07</td>
    <td>abc@teksystems.com</td>-->
 	</tr>  
 	</tbody>
	</table>
</div>

<div id="rightLowerHalf">

<mySubHeader style="align-self:centre">Deployment Revision History</mySubHeader>
 	
 	<table id="deplHistory">
 	 <thead>
 	 <tr>
    <th>Deployment Time</th>
    <th>Deployed By</th>
    <th>Revision</th>
    <th>Environment</th>
    <th>JIRA</th>
 	</tr>
 	</thead>
  	<tbody>
  	<tr ng-repeat ="history in  depHistory">
    <td>{{history.deploymentTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
    <td>{{history.deployedBy}}</td>
    <td>{{history.revision}}</td>
    <td>{{history.environment}}</td>
    <td>{{history.jira}}</td>
  	</tr>
  	</tbody>
	</table> 		
 		
</div>

 		
</div>
</div>
</form>
</div>

</div>

</body>

</html>