
<div class="modal-header" >   
<a class="close" data- dismiss="modal" ng-click="cancel()">X</a><h1>Edit Attributes</h1></div>

<div class="modal-body">   
 <form >
  <table>
   	<tbody>
     	<tr>
                  <td><b>Name</b></td>
                  <td><b>Value</b></td>
        </tr>
        <tr>
 <td colspan=2>
   <div ng-repeat="attr in attributes">
     <input type="text" label="Name" class="span3" ng-model="attr.name">
     <input type="text" label="Value" class="span3" ng-model="attr.value">
    </div>
    </td>
    </tr>
<!--     <tr> -->
<!--      <td colspan = 2> -->
<!--        <input type="text" label="Name" class="span3" ng-model="name"> -->
<!--      <input type="text" label="Value" class="span3" ng-model="Value"> -->
<!--      </td> -->
<!--      </tr> -->
    </tbody>
    </table>
    <button type="submit" class="btn" ng-click="saveAttributes()">Save</button>
    <button type="reset" class="btn ">Clear</button>
    </form>
    </div>
    <div class="modal-footer">
    <a data-dismiss="modal" aria-hidden="true" class="btn" ng-click="cancel()">close</a>
    </div>