<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>APIGEE Annex Login</title>
<script src ="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
<script src ="../js/angular-route.js"></script>
<link rel="stylesheet" href="../css/login.css" />
<script src="../js/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section id="back">
    </section>

  <div class="materialContainer" ng-app="loginApp" ng-controller ="loginController">


    <div class="box">

      <div class="title">Login</div>
 
      <div class="input">
         <label for="name">Username</label>
         <input type="text" name="name" id="name" ng-model="accID">
         <span class="spin"></span>
      </div>

      <div class="input">
         <label for="pass">Password</label>
         <input type="password" name="pass" id="pass" ng-model="password">
         <span class="spin"></span>
      </div>
      
      <div class="button login">
        <button ng-click="verifyLogin()"><span>GO</span> <i class="fa fa-check"></i></button>
      </div>

    </div>
   <!--   <script>
    var uservalue = document.getElementById("Username").value;						
      sessionStorage.setItem("username","uservalue" );
      </script> -->
  <div class="overbox" >
    <div class="material-button alt-2" style="width:100px;height:100px"><span class="shape"></span></div>

      <div class="title">REGISTER</div>

      <div class="input">
         <label for="regname">AccountID</label>
         <input type="text" name="regname" id="regname" ng-model ="regiaccID">
         <span class="spin"></span>
      </div>

      <div class="input">
         <label for="regpass">Username</label>
         <input type="text" name="regpass" id="regpass" ng-model="reginame">
         <span class="spin"></span>
      </div>

      <div class="input">
         <label for="reregpass">Password</label>
         <input type="password" name="reregpass" id="reregpass" ng-model="regipass">
         <span class="spin"></span>
      </div>

      <div class="button">
         <button ng-click="register()"><span>NEXT</span></button>
      </div>


   </div>

</div>

<script src="../js/login.js"></script>
<script src="../js/loginController.js"></script>
</body>
</html>