<html>
	<head>
		<title>APIGEE Annex</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<script src ="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
  		<script src ="../js/angular-route.js"></script>
		<link rel="stylesheet" href="../css/proxy.css" />
		<link rel="stylesheet" href="../css/pageLoader.css" />
		<!-- <link rel="stylesheet" href="../css/proxyTest.css" /> -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
		<script src="../js/navigation.js"></script>
		<script src="../js/sortingProxies.js"></script>
  		<script src ="../js/listandDetailproxies.js"></script>
  	</head>
	<body>

<div id="loader"></div>
	
<div style="display:none;" id="myDivPage" class="animate-bottom">

  <!-- Rajesh Gudimalla
    <script>
    var uservalue = sessionStorage.getItem("username");
    if(!uservalue){
      window.open("../html/login.html","_self")
    }  
  </script>
  -->
    <!-- Header -->
		<header id="header"> 
			<div class="inner" style="margin-left:5%;" >
				<!-- <a href="index.html" class="logo">Projection</a> -->
				<nav id="nav">
          <myHeader><a href = "home.html">Home</a> > <a href = "proxy.html">Proxies</a></myHeader>
				</nav>
				<!--<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>-->
			</div>
		</header>

	<!-- Banner -->
		<section id ="navbar">
		
			<!-- <div class ="sidenav">-->	
			
      <div class="inner1">
          <a href="https://www.teksystems.com/" target="_blank"><img src="../images/TekLogo.png" style = "height:36px; width: 36px;"></a>
          <!--<a href="home.html" style="text-decoration: none"><span  class="fa fa-home" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Home</span></a>-->
      </div>
      <div class="inner2">
          <a href="home.html" style="text-decoration: none"><span  class="fa fa-home" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848"></span></a>
          <!--<a class="search-disabled" href="#" style="text-decoration: none"><span class="fa fa-search" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Search</span></a>-->
      </div>
      <div class="inner3">
          <!--<a class="sort-disabled" href="#" style="text-decoration: none"><span class="fa fa-sort" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Sort</span></a>-->
      </div>
      <div class="inner4">
          <!--<a class="filter-disabled" href="#" style="text-decoration: none"><span class="fa fa-filter" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Filter</span></a>-->
      </div>
      <div class="inner5">
          <a href="help.html" style="text-decoration: none"><span class="fa fa-question-circle-o" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848"></span></a>
      </div>
      <div class="inner6">
          <a href="profile.html" style="text-decoration: none"><span class="fa fa-user-circle" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848"></span></a>				
      </div>
			<!-- </div> -->
</section>

  <section id="mainBlock"	>
	
		<!-- <section class="shade">
    	</section>-->
	
		<div ng-app="Assests" ng-controller ="AssestsController">
		<div class="banner1">
		
 		
	 	
	<!-- <table class="table table-hover"> -->

<table id="listingTable">
  <thead>
  <tr>
    <th class="linkFocus">Name <a onclick="sortTable()" ><div class=" fa fa-sort" style="padding-left:2%;"></div></a></th>
    <!--<th>Last Modified</th>-->
    <!-- <th><span class="fa fa-refresh" style="font-size:12pt;color: black; padding-left: 10%;" id = 'refreshButton'></th> -->
    <!--  <th>CreatedAt</th>
    <th>LastModifiedAt</th>-->
    <!-- <th><span class="fa fa-refresh" style="font-size:12pt;color: #33CC99" id = 'refreshButton'></span></th> -->
  </tr>
  </thead>
  <tbody ng-repeat ="proxy in  proxyList ">
  <tr>
    <td><a href="" ng-click="getAPI(proxy)" onfocus="myFunction(this)" class="aStyle" style="text-decoration:none">{{proxy}}</a></td>
    <!-- <td><a href="#" ng-click="getAPI(proxylist.name)">{{proxy.metaData.createdAt | date: 'yyyy/MM/dd HH:mm:ss Z'}}</a></td> -->
    <!--<td><a href="#" ng-click="getAPI(proxylist.name)">{{proxy.metaData.lastModifiedAt | date: 'yyyy/MM/dd HH:mm:ss Z'}}</a></td>-->
  </tr>
  </tbody>
</table>
<!--
<div class="scrollbar" id="style-1">
    <div class="force-overflow"></div>
</div>-->
</div>
   	
   
    
		

		<div class="banner2">
      
      <div class="detailsPaneBlank" ng-show="show=='asset'">
        <div class="detailsPaneBlankImg">
          <span class="fa fa-file-photo-o" style="font-size: 72px"></span>
          <br/><myText>Select an asset to view details.</myText>
        </div>
      </div> 
	  
	  		<div class="detailsPaneBlank" ng-show="show=='reviewResponse'">
        <div class="modal fade" id="myModal1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					<h4 class="modal-title">Code Review Results</h4>
					</div>
					<div class="modal-body">
					<a href ={{reviewresponseurl}} target="_blank">{{reviewresponseurl}}</a>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>   
			</div>
		</div>
      </div> 
      
      <div class="detailsPaneFilled" ng-show ="show=='showDetails'">
        <div class="detailsPaneFilledHeader">
          <button class="detailsPaneFilledButton" style="float: right" data-toggle="modal" ng-click="reviewProxy(selectedProxy.name)" data-target="#myModal1" ><span>Review</span></button>
          <div class="detailsPaneFilledTitle" style="float: left"><myHeader>Details</myHeader></div>
        </div>
        <div class="detailsPaneFilledText">
            <table id="detailTable">
              <tbody >
                <tr>
                  <td >Name</td>
                  <td>{{selectedProxy.name}}<td> 
                </tr>
                <tr>
                  <td >Description</td>
                  <td>{{proxyrevisionData.description}}</td>
                </tr>
                <tr>
                  <td>Available Revision(s)</td>
                  <td>{{revision}}</td>
                </tr>
                <tr>
                  <td>Created on</td>
                  <td>{{selectedProxy.metaData.createdAt | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
                </tr>
                <tr>
                  <td>Created by</td>
                  <td>{{selectedProxy.metaData.createdBy}}</td>
                </tr>
                <tr>
                  <td>Last Modified on</td>
                  <td>{{selectedProxy.metaData.lastModifiedAt | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
                </tr>
                <tr>
                  <td>Last Modified by</td>
                  <td>{{selectedProxy.metaData.lastModifiedBy}}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="detailsPaneFilledFooter">
            <div><a href ="deployProxy.html#?name={{selectedProxy.name}}" target="_blank"><button class="detailsPaneFilledButton" style="float: right"><span>Deploy</span></button></a></div>
            <div><a href ="testproxy.html#?name={{selectedProxy.name}}" target="_blank"><button class="detailsPaneFilledButton" style="float: right"><span>Test</span></button></a></div>
            <!-- <div><a href ="proxyTryOut.html#?name={{selectedProxy.name}}" target="_blank"><button class="detailsPaneFilledButton" style="float: right"><span>Try Out</span></button></a></div> -->
        </div>
      </div> 
    
    </div>
      
	</div>
	<!-- 	<div class="modal fade" id="myModal1" role="dialog" ng-show="show=='reviewResponse'">
			<div class="modal-dialog" style="margin: 25%;">
				<div class="modal-content">
					<div class="modal-header">
					<h4 class="modal-title">Result</h4>
					</div>
					<div class="modal-body">
					<p>{{reviewresponseurl}}</p>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>   
			</div>
		</div>  -->		

</section>

</div>
</body>
</html>