<html> 
	<head>
		<title>APIGEE Annex</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../css/proxyTryOut.css" />
		<link rel="stylesheet" href="../css/pageLoader.css" />
		<!-- <link rel="stylesheet" href="../css/proxyTest.css" /> -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
		<script src ="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
		<script src ="../js/angular-route.js"></script>
		<script src ="../js/ApiTryProxy.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<script src="../js/navigation.js"></script>
  		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  		<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  		<script src="../js/tryProxy.js"></script>
	</head>
	<body ng-app="APITryProxyApp" ng-controller ="APITryProxyController">

<div id="loader"></div>
	
<div style="display:none;" id="myDivPage" class="animate-bottom">
    <!-- Header -->
		<header id="header"> 
			<div class="inner" >
				<!-- <a href="index.html" class="logo">Projection</a> -->
				<nav id="nav">
          <myHeader><a href = "home.html">Home</a> > <a href = "proxy.html">Proxies</a> > <a href = "proxyTryOut.html">Try Out</a></myHeader>
				</nav>
				<!--<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>-->
			</div>
		</header>

	<!-- Banner -->
		<section id ="navbar">
		
			<!-- <div class ="sidenav">-->	
			
					<div class="inner1">
							<a href="https://www.teksystems.com/" target="_blank"><img src="../images/TekLogo.png" style = "height:36px; width: 36px;"></a>
							<!--<a href="home.html" style="text-decoration: none"><span  class="fa fa-home" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Home</span></a>-->
					</div>
					<div class="inner2">
							<a href="home.html" style="text-decoration: none"><span  class="fa fa-home" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848"></span></a>
							<!--<a class="search-disabled" href="#" style="text-decoration: none"><span class="fa fa-search" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Search</span></a>-->
					</div>
					<div class="inner3">
							<!--<a class="sort-disabled" href="#" style="text-decoration: none"><span class="fa fa-sort" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Sort</span></a>-->
					</div>
					<div class="inner4">
							<!--<a class="filter-disabled" href="#" style="text-decoration: none"><span class="fa fa-filter" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Filter</span></a>-->
					</div>
					<div class="inner5">
							<a href="help.html" style="text-decoration: none"><span class="fa fa-question-circle-o" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Help</span></a>
					</div>
					<div class="inner6">
							<a href="profile.html" style="text-decoration: none"><span class="fa fa-user-circle" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Profile</span></a>				
					</div>
			<!-- </div> -->
</section>

<section id="mainBlock"	>

<div class="banner1">

	<div id="urlBox">
		<div class="dropdown"><select name="selectedEP" id="selectedEP" ng-model="epValue" required ng-change="onepValueChange(epValue)">
		<option value="" selected>Select</option>
  		<option value={{ep.request.url.raw}} ng-repeat ="ep in  testTry.item">{{ep.request.url.raw}}</option>
		</select>
		</div>
		<div class="requestDetailsSend" ng-show ="show=='requestDetails'">
		<input id="sendbutton" ng-click="sendRequest(epValue,testRequestData,testRequestHeaders,testRequestMethod)" value={{testRequestMethod}} />
		</div>
	</div>
			
	<a href="#"><div id="headers1"></div></a>
	
<div id="borderDot">
	

</div>	

<div class="requestDetails" ng-show ="show=='requestDetails'">
<div id="headers1">Header<!-- <a href="#" class="addRows" onclick="addRows()"><span id="plusIcon"  class="fa fa-plus" style="font-size:15px;color:black; align:center; padding-left:5%;"></span></a> --></div>

<div id="paramsTable" >
<table id="paramTable">

<tr>
<th>Key</th>
<th>Value</th>
</tr>
<tr>
<td><input type="text" style="border-color:#222222; border: solid 1px"></td>
<td><input type="text" style="border-color:#222222;  border: solid 1px"></td>
<td><input type="button" value="Add" class="addRows" /></td>
<td><input type="button" value="Remove" class="ibtnDel"/></td>

</tr>

<!-- <tr class="hide">
<td><input type="text"></td>
<td><input type="text"></td>
<td> 
<input type="button" value="Remove" class="ibtnDel"/>
</td> 

</tr> -->


</table>

</div>

<textarea rows="10" cols="60" id="textbox1" placeholder="Payload">{{testRequestData}}</textarea>
</div>
	
</div>
	
<div class="banner2" ng-show ="show=='requestResponse'">

Response
{{testTry}}

</div>



</section>

</body>
</html>