<html>
	<head>
		<title>APIGEE Annex</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../css/testProxy.css" />
		<link rel="stylesheet" href="../css/pageLoader.css" />
		<!-- <link rel="stylesheet" href="../css/deployProxyTest.css" /> -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
		<script src ="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
		<script src ="../js/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src ="../js/ProxyTest.js"></script>	
		<script src="../js/navigation.js"></script>
	</head>
	<body>
<div id="loader"></div>
<div style="display:none;" id="myDivPage" class="animate-bottom">
  
    <!-- Header -->
		<header id="header"> 
			<div class="inner" >
				
				<nav id="nav">
          <myHeader><a href = "home.html">Home</a> > <a href = "proxy.html">Proxies</a> > <a href = "testProxy.html">Test</a></myHeader>
				</nav>
			</div>
		</header>

	<!-- Banner -->
		<section id ="navbar">
		
			<!-- <div class ="sidenav">-->	
			
					<div class="inner1">
							<a href="https://www.teksystems.com/" target="_blank"><img src="../images/TekLogo.png" style = "height:36px; width: 36px;"></a>
							<!--<a href="home.html" style="text-decoration: none"><span  class="fa fa-home" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Home</span></a>-->
					</div>
					<div class="inner2">
							<a href="home.html" style="text-decoration: none"><span  class="fa fa-home" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848"></span></a>
							<!--<a class="search-disabled" href="#" style="text-decoration: none"><span class="fa fa-search" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Search</span></a>-->
					</div>
					<div class="inner3">
							<!--<a class="sort-disabled" href="#" style="text-decoration: none"><span class="fa fa-sort" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Sort</span></a>-->
					</div>
					<div class="inner4">
							<!--<a class="filter-disabled" href="#" style="text-decoration: none"><span class="fa fa-filter" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Filter</span></a>-->
					</div>
					<div class="inner5">
							<a href="help.html" style="text-decoration: none"><span class="fa fa-question-circle-o" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Help</span></a>
					</div>
					<div class="inner6">
							<a href="profile.html" style="text-decoration: none"><span class="fa fa-user-circle" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Profile</span></a>				
					</div>
			<!-- </div> -->
</section>

 <section id="mainBlock" ng-app="ProxiTestApp" ng-controller="ProxiTestController">

<div>		
<div class="banner1">
	 
	<table id="proxyData">
	
 	<thead>
 	<tr>
    <th>Collection	  :</th>
    <td>{{testCollection.Collection}}</td>
    </tr>
    
  	<tr>
    <th>Avg Response Time 	 :</th>
    <td>{{testCollection.ResponseTimeAverage}}</td>   
    </tr>
    
  	<tr>
    <th>Data Received 	 :</th>
    <td>{{testCollection.DataReceived}}</td>
    </tr>
    
  	</table>
</div>	
 		
 <div class="banner2">
 
 
 <div id="lowerHalf">
 <mySubHeader>Test Results</mySubHeader>	
 	
 	<table id="deplRev">
  	<thead>
  	<tr>
  	<th colspan="3" style="text-align:center;"><b>Test Cases</b></th>
  	<th style="text-align:center;"><b>Assertions</b></th>
  	</tr>
  	<tr>
    <th>Test Cases</th>
    <th>URL Endpoint</th>
    <th>Response Status</th>
    <th>Name--Message</th>
    <th></th>
  	</tr>
  	</thead>
  	<tbody>
 	<tr ng-repeat ="TestCases in  collectionTestCaseResults.TestCases">
    <td>{{TestCases.TestCase}}</td>
	<td>{{TestCases.UrlEndpoint}}</td>
	<td>{{TestCases.ResponseStatus}}</td>
	<td><p ng-repeat ="assertions in  TestCases.assertionlist.Assertion">{{assertions.Name}}--{{assertions.Message}}</p></td>
 	</tr>  
 	</tbody>
	</table>
</div>		
</div>
</div>
</section>


</div>
</body>
</html>