<html> 
	<head>
		<title>APIGEE Annex</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/viewProducts.css" />
		<link rel="stylesheet" href="../css/pageLoader.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
		<script src ="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-animate.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.4.2/angular-touch.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
		<script src ="../js/angular-route.js"></script>
		<script src ="https://cdnjs.cloudflare.com/ajax/libs/checklist-model/1.0.0/checklist-model.min.js"></script>
		<script src ="../js/ApiProduct.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<script src="../js/navigation.js"></script>
  		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  		<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  	</head>
	<body>
	
<div id="loader"></div>
	
<div style="display:none;" id="myDivPage" class="animate-bottom">
  <!-- Rajesh Gudimalla
    <script>
    var uservalue = sessionStorage.getItem("username");
    if(!uservalue){
      window.open("../html/login.html","_self")
    }  
  </script>
  -->
    <!-- Header -->
		<header id="header"> 
			<div class="inner" >
				<!-- <a href="index.html" class="logo">Projection</a> -->
				<nav id="nav">
          <myHeader><a href = "home.html">Home</a> > <a href = "viewProducts.html">Product Details</a></myHeader>
				</nav>
				<!--<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>-->
			</div>
		</header>

	<!-- Banner -->
		<section id ="navbar">
		
			<!-- <div class ="sidenav">-->	
			
				<div class="inner1">
          <a href="https://www.teksystems.com/" target="_blank"><img src="../images/TekLogo.png" style = "height:36px; width: 36px;"></a>
          <!--<a href="home.html" style="text-decoration: none"><span  class="fa fa-home" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Home</span></a>-->
      </div>
      <div class="inner2">
          <a href="home.html" style="text-decoration: none"><span  class="fa fa-home" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848"></span></a>
          <!--<a class="search-disabled" href="#" style="text-decoration: none"><span class="fa fa-search" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Search</span></a>-->
      </div>
      <div class="inner3">
          <!--<a class="sort-disabled" href="#" style="text-decoration: none"><span class="fa fa-sort" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Sort</span></a>-->
      </div>
      <div class="inner4">
          <!--<a class="filter-disabled" href="#" style="text-decoration: none"><span class="fa fa-filter" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Filter</span></a>-->
      </div>
      <div class="inner5">
          <a href="help.html" style="text-decoration: none"><span class="fa fa-question-circle-o" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Help</span></a>
      </div>
      <div class="inner6">
          <a href="profile.html" style="text-decoration: none"><span class="fa fa-user-circle" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Profile</span></a>				
      </div>
			<!-- </div> -->
</section>

  <section id="mainBlock" ng-app="APIProductapp" ng-controller ="APIProductController">
	
		<!-- <section class="shade">
    	</section>-->
	
		
		<div class="banner1" >
		
 		
	 	
	<!-- <table class="table table-hover"> -->

<table id="productData">
	
 	<thead>
      <tr>
        <th>Product Name <a onclick="sortTable()"><div class=" fa fa-sort" style="padding-left:2%;"></div></a></th>
        
      </tr>
    </thead>
    <tbody ng-repeat ="product in productDetailList">
      <tr>
        <td><a href="#" ng-click="getAPIProduct(product)">{{product}}</a></td>
        
      </tr>
      <!--  <tr>
        <td>Product2</td>
        
      </tr>
      <tr>
        <td>Product3</td>
        
      </tr>-->
    </tbody>
    
	</table>

</div>

    
		

		<div class="banner2">

 <div class="detailsPaneBlank" ng-show="show=='product'">
        <div class="detailsPaneBlankImg">
          <span class="fa fa-file-photo-o" style="font-size: 72px"></span>
          <br/><myText>Select a product to view details.</myText>
        </div>
      </div> 
      
      <div class="detailsPaneFilled" ng-show ="show=='showDetails'">
        <div class="detailsPaneFilledHeader">
          <!--  <button class="detailsPaneFilledButton" style="float: right"><span><i class="fa fa-times fa-fw"></i>Delete</span></button>
          <a href="editProducts.html"><button class="detailsPaneFilledButton" style="float: right"><span><i class="fa fa-edit fa-fw" style="padding-right:10%;"></i>Edit</span></button></a>-->
          <div class="detailsPaneFilledTitle" style="float: left"><myHeader style="padding-top: 12px; padding-left: 20px">Product Details</myHeader></div>
        </div>
        <div class="detailsPaneFilledText" >
            <table id="detailTable" class="detailList">
              <tbody>
                <tr>
                  <td><b>Name</b></td>
                  <td><div contenteditable="true">{{selectedProduct.name}}</div></td>
                </tr>
                <tr>
                  <td><b>Description</b></td>
                  <td>{{selectedProduct.description}}</td>
                </tr>
                <tr>
                  <td><b>Environment</b></td>
                  <td>{{selectedProduct.environments}}</td>
                </tr>
                <tr>
                  <td><b>Access</b></td>
                  <td>Internal</td>
                </tr>
                <tr>
                  <td><b>Key Approval Type</b></td>
                  <td>{{selectedProduct.approvalType}}</td>
                </tr>
                <tr>
                  <td><b>Quota</b></td>
                  <td>{{selectedProduct.quota}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                </tr>
                
                <tr>
                <td>
                <myHeader>Resources</myHeader>
                </td>
                </tr>
                <tr>
                <td style="color: black;"><b>Paths</b></td>
                <td style="color: black;"><b>Value</b></td>
<!--                 <td><input type ="checkbox" ng-model="IsAllChecked" ng-change="CheckUncheckAll()" ></td> -->
                <td><a href="#" ng-click="addPaths()" id="fire1"><span class="fa fa-edit" style="font-size:20px;color:black"></span></a></td>
<!--                 <td><a href="#" class="addPaths3" ng-click="addPaths3()" style="visibility:hidden"><span id="plusIcon1"  class="fa fa-plus" style="font-size:25px;color:black"></span></a></td> -->
                </tr>
               <tr ng-repeat = "apiRes in apiResources" >
               <td></td>
               
               <td> {{apiRes}} </td>
<!--                <td><div id="removeButton" style="visibility:hidden" >  -->
<!--                 <input type="button" value="Remove" class="ibtnDel"/> -->
<!--                 </div> -->
<!--                 </td> -->
<!--                 <td><div id="AddButton" style="visibility:hidden" >  -->
<!--                 <input type="button" value="Add" class="ibtnDel"/> -->
<!--                 </div> -->
<!--                 </td> -->
<!--                 <td><input type="checkbox" class="checkBox" ng-checked="removeProxy(apiRes)" ng-model="checVal" style="visibility:visible" />  -->
                             
<!--                 </td> -->
					<td><input type="checkbox" class="checkBox" checklist-model="ResourceRemove"  checklist-value="apiRes" ng-click="enableRemove()" style="visibility:visible" />  
                             
                </td>
                
               </tr>
               <tr>
               <td colspan=2 >
               		<div id="AddButton" style="visibility:hidden" >
               		<input type="button" ng-click="addPathsResources()" value="Add Paths"/></div>
               		<div id="removeButton" style="visibility:hidden"  >
               		<input type="button" ng-click="removePath()" value="Remove Paths" /></div>
               </td>
               </tr>
               <tr>
               <td style="color: black;"><b>API Proxies</b></td>
               <td style="color: black;"><b>Value</b></td> 
<!--                <td style="padding-left:30px;"> -->
               <td><a href="#" ng-click="addProxy()" id="fire"><span class="fa fa-edit" style="font-size:20px;color:black"></span></a></td>
<!--                <button  id="water" style="visibility:hidden" onclick="addField()">Add Proxy</button></td>  -->
<!--                <td colspan = "2"><div class="tooltip" style="visibility:hidden"><a href="#" class="addProxy3" onclick="addProxy3()"><span id="plusIcon"  class="fa fa-plus" style="font-size:25px;color:black"></span><span style="top:-20%;left:110%" class="tooltiptext">Add Proxy</span></a></div></td>              -->
               </tr>
               <tr ng-repeat = "proxy in proxies">
               <td></td>
               <td> {{proxy}}
               </td>
               <td><input type="checkbox" class="checkBox" checklist-model="removeProxy"  checklist-value="proxy" ng-click="enableProxyRemove()" style="visibility:visible" />
                         
               </tr>
               <tr>
               <td colspan=2>
               		<div id="addProxyButton" style="visibility:hidden; ">
               		<input type="button" ng-click="addProxyResources()" value="Add Proxy"/></div> 
                    <div id="removeProxyButton" style="visibility:hidden">
              		<input type="button" ng-click="removeProxyResources()" value="Remove Proxy"/></div>
               </td>
               </tr>
               
               
               <tr>
               <td></td>
               <td><div id="xyz" style="visibility:hidden">hello<button onclick="addProxy1()">Add</button></div></td>
               </tr>
               <tr>
                <td>
                <myHeader>Custom</myHeader>
                </td>
                </tr>
                <tr>
                <td style="color: black;"><b>Attributes</b></td>
                <td style="color: black;"><b>Name</b></td>
               <td style="color: black;"><b>Value</b></td>
               <td><a href="#" ng-click="editField()"><span  class="fa fa-edit" style="font-size:20px;color:black"></span></a></td>
                </tr>
                          
               <tr ng-repeat= "attr in attributes">
               
                 <td></td>
                      
               <td ><div id="editField" contentEditable="false">{{attr.name}}</div></td>
               
               <td><div id="editField1" contentEditable="false">{{attr.value}}</div></td> 
               
                             
            
               </tr>
                 </div>  
              </tbody>
            </table>
       <a href="#" ng-click ="updateAPIResourcedata()"><button class="detailsPaneFilledButton" style="float: right";><span><i class="fa fa-save fa-fw" style="padding-right:10%;"></i>Save</span></button></a>
        </div>
        <!--  
        <div class="detailsPaneFilledFooter">
            <div><a href ="deploy.html"><button class="detailsPaneFilledButton" style="float: right"><span>Deploy</span></button></a></div>
            <div></div>
            <div><button class="detailsPaneFilledButton" style="float: right"><span>Test</span></button></div>
        </div>
       -->
      </div>
    
    </div>
      
	

</section>
<!--  <script src ="../js/listandDetailproxies.js"></script>-->
</div>
<div>
<!-- <script type="text/ng-template" id="addPaths.html"> -->
<!-- <div class="modal-header" >    -->
<!-- <a class="close" data- dismiss="modal" ng-click="cancel()">X</a><h1>Add Path</h1></div><div class="modal-body">    -->
<!--  <form > -->

<!--      <label>PathValue:</label><input type="text" class="span3" ng-model="Path"></br> -->
<!--     <button type="submit" class="btn btn-success" ng-click="addPathValue()">AddPath</button> -->
<!--     <button type="reset" class="btn ">Clear</button> -->
<!--     </form> -->
<!--     </div> -->
<!--     <div class="modal-footer"> -->
<!--     <a data-dismiss="modal" aria-hidden="true" class="btn btn-primary" ng-click="cancel()">close</a> -->
<!--     </div> -->
<!-- </script> -->
</div>
</body>
</html>