<html> 
	<head>
		<title>APIGEE Annex</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../css/viewApps.css" />
		<link rel="stylesheet" href="../css/pageLoader.css" />
		<!-- <link rel="stylesheet" href="../css/proxyTest.css" /> -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
		<script src ="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-animate.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.4.2/angular-touch.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
		<script src ="../js/angular-route.js"></script>
		<script src ="https://cdnjs.cloudflare.com/ajax/libs/checklist-model/1.0.0/checklist-model.min.js"></script>
		<script src ="../js/ApiDevApp.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<script src="../js/navigation.js"></script>
  		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  		<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	</head>
	<body ng-app="APIDev" ng-controller ="APIDevAppController">

<div id="loader"></div>
	
<div style="display:none;" id="myDivPage" class="animate-bottom">
    <!-- Header -->
		<header id="header"> 
			<div class="inner" >
				<!-- <a href="index.html" class="logo">Projection</a> -->
				<nav id="nav">
          <myHeader><a href = "home.html">Home</a> > <a href = "viewApps.html">Developer Apps</a></myHeader>
				</nav>
				<!--<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>-->
			</div>
		</header>

	<!-- Banner -->
		<section id ="navbar">
		
			<!-- <div class ="sidenav">-->	
			
					<div class="inner1">
							<a href="https://www.teksystems.com/" target="_blank"><img src="../images/TekLogo.png" style = "height:36px; width: 36px;"></a>
							<!--<a href="home.html" style="text-decoration: none"><span  class="fa fa-home" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Home</span></a>-->
					</div>
					<div class="inner2">
							<a href="home.html" style="text-decoration: none"><span  class="fa fa-home" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848"></span></a>
							<!--<a class="search-disabled" href="#" style="text-decoration: none"><span class="fa fa-search" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Search</span></a>-->
					</div>
					<div class="inner3">
							<!--<a class="sort-disabled" href="#" style="text-decoration: none"><span class="fa fa-sort" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Sort</span></a>-->
					</div>
					<div class="inner4">
							<!--<a class="filter-disabled" href="#" style="text-decoration: none"><span class="fa fa-filter" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Filter</span></a>-->
					</div>
					<div class="inner5">
							<a href="help.html" style="text-decoration: none"><span class="fa fa-question-circle-o" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Help</span></a>
					</div>
					<div class="inner6">
							<a href="profile.html" style="text-decoration: none"><span class="fa fa-user-circle" style="font-size:30px;color:#ff0000c2"></span><span class="menu" style="font-size:16px;color:#484848">Profile</span></a>				
					</div>
			<!-- </div> -->
</section>

  <section id="mainBlock"	>
		<div class="banner1">
		
 		
	 	
	<!-- <table class="table table-hover"> -->

<table id="productData">
	
 	<thead>
      <tr>
        <th >App Name<a onclick="sortTable()"><div class=" fa fa-sort" style="padding-left:2%;"></div></a></th>
				<!--<th>Registered at</th>-->
      </tr>
    </thead>
    <tbody ng-repeat ="Apps in appDetailList.app">
      <tr>
        <td ><a href="#" ng-click="getAPIDevApp(Apps.name)">{{Apps.name}}</a></td>
        <!--<td><a href="#" ng-click="getAPIDevApp(Apps.Registered)">{{Apps.name}}</a></td>-->
      </tr>
<!--       <tr> -->
<!--         <td>App2</td> -->
        
<!--       </tr> -->
<!--       <tr> -->
<!--         <td>App3</td> -->
        
<!--       </tr> -->
    </tbody>
    
	</table>

</div>
   	
   
    
		

		<div class="banner2">

		 <div class="detailsPaneBlank" ng-show="show=='devapp'">
        <div class="detailsPaneBlankImg">
          <span class="fa fa-file-photo-o" style="font-size: 72px"></span>
          <br/><myText>Select an App to view details.</myText>
        </div>
      </div> 
      
      <div class="detailsPaneFilled"  ng-show ="show=='showAppDetails'">
      <div class="detailsPaneFilledTitle" style="float: left"><myHeader>Details</myHeader></div>
       
        <div class="detailsPaneFilledText">
            <table id="detailTable">
              <tbody>
                <tr>
                  <td style="font-weight:bold;">Name</td>
                  <td>{{appDetail.name}}</td>
                </tr>
               <tr>
                  <td style="font-weight:bold;">Registered</td>
                  <td>{{appDetail.createdAt | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                </tr>
                
                <tr>
                  <td style="font-weight:bold;">App Status</td>
                  <td>{{appDetail.status}}</td>
                </tr>
                </tbody>
                </table>
                
            <table id = "credentials">
            <myHeader style="padding-left: 2.5%">Credentials</myHeader>
            	<thead>
            		<tr>
            			<th>Issued</th>
            			<th>Expiry</th>
            			<th>Consumer Key</th>
            			<th>Consumer Secret</th>
            			<th>Status</th>
            			
            		</tr>
            	</thead>
            	<tbody>
            		<tr>
            			<td style = "border-bottom: 1px solid #f2f2f2">
            				{{appDetail.credentials[0].issuedAt | date: 'yyyy/MM/dd HH:mm:ss'}}
            				
            			</td>	
            			<td style = "border-bottom: 1px solid #f2f2f2">
            				<div>Never</div>
            			</td>
            			<td style = "border-bottom: 1px solid #f2f2f2" >
							<!-- <a style="float:right;"><button>Show</button></a> -->
							
							<div ng-hide ="showConsumerKey">{{appDetail.credentials[0].consumerKey}}</div>
            			</td>
            			<td style = "border-bottom: 1px solid #f2f2f2">
							<!--<a style="float:right;"><button>Show</button></a> -->
							<div ng-hide ="showConsumerSecret">{{appDetail.credentials[0].consumerSecret}}</div>
            			</td>
            			<td style = "border-bottom: 1px solid #f2f2f2">approved</td>
            		</tr>
            		<tr>
            			<td></td>
            			<td></td>
            			<td><input type="button" value="Show/Hide" ng-click="showConsumerKeyValue()" style="font-size: 12px"></td>
<!--             			<td><input type="button" value="Hide" ng-hide="showConsumerKey" ng-click="hideConsumerKey()"></td> -->
            			<td><input type="button" value="Show/Hide"  ng-click="showConsumerSecretValue()" style="font-size: 12px"></td>
<!--             			<td><input type="button" value="Hide" ng-hide="ShowConsumerSecret" ng-click="hideConsumerSecret()"></td> -->
            			<td></td>
					</tr>
					<tr>
            			<td colspan ="2" style = "border-bottom: 1px solid #f2f2f2"></td>
            			<th colspan ="2" align="left" style="max-width:60%" style="padding-left:30px;">Product <div style="float: right;"><a href="#" ng-click="addProducts()" id="fire5" class="fa fa-edit" style="font-size:15px;color:black"></a></div></th> 
            			<td colspan ="2"></td>
            		</tr>
            		<tr ng-repeat = " product in creden">
            			<td colspan ="2"></td>
            			<td colspan ="2" style="position:relative"><a href="#">{{product.apiproduct}}</a>
            			<td colspan ="2">{{product.status}}</td>
            		</tr>
<!--             		<tr> -->
<!--             			<td colspan ="2"></td> -->
<!--             			<td colspan ="2" style="position:relative"><a href="#">ProductName</a> -->
<!--             			<td colspan ="2">Approved</td> -->
<!--             		</tr> -->
            	</tbody>		
            
            </table>
            
           <table id="detailTable"> 
           <tbody>
            <tr>
                <td>
                <myHeader >Custom</myHeader>
                </td>
                </tr>
              
                <tr>
               <td style="color: black; font-weight:bold;">Attributes</td>
               <td style="color: black; font-weight:bold;">Name</td>
               <td style="color: black; font-weight:bold;">Value</td>
               <td style="padding-left:30px;"><a href="#" ng-click="editField()" id="fire5"><span  class="fa fa-edit" style="font-size:20px;color:black"></span></a> </td>
<!--                <td colspan = "2"><div class="tooltip" style="visibility:hidden"><a href="#" class="addApp1" onclick="addApp1()"><span id="plusIcon5"  class="fa fa-plus" style="font-size:25px;color:black"></span></a></div></td>              -->
               </tr>
               <tr ng-repeat = "attr in attributes">
               <td></td>
               <td> 
               {{attr.name}} 
               </td>
               <td>
               {{attr.value}} 
               </td>
<!--                <td><div id="removeButton" style="visibility:hidden" >  -->
<!--                 <input type="button" value="Remove" class="ibtnDel"/> -->
<!--                 </div> -->
<!--                 </td> -->
               </tr>
               </tbody>
               </table>
            
        </div>
        <!--  
        <div class="detailsPaneFilledFooter">
            <div><a href ="deploy.html"><button class="detailsPaneFilledButton" style="float: right"><span>Deploy</span></button></a></div>
            <div></div>
            <div><button class="detailsPaneFilledButton" style="float: right"><span>Test</span></button></div>
        </div>
       -->
        <div class="detailsPaneFilledHeader">
          <!-- <button class="detailsPaneFilledButton" style="float: right"><span><i class="fa fa-times fa-fw"></i>Delete</span></button> -->
          <a href="#"><button ng-click ="updateAPIResourcedata()" class="detailsPaneFilledButton" style="float: right"><span><i class="fa fa-save fa-fw" style="padding-right:10%;"></i>Save</span></button></a>
          
        </div>
      </div>
    
    </div>
      
	</div>

</section>
<!-- <script src ="../js/listandDetailproxies.js"></script> -->

</body>

</html>